{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"></h1>
            <div class="row d-flex justify-content-center">

                <a href="{% url 'list_pets' %}" class="col-1 btn btn-primary">Pets</a>
                <div class="dropdown show col-1">
                    <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Add
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item form_button" data-value="entry" href="#">Entry</a>
                      <a class="dropdown-item form_button" data-value="vaccine"  href="#">Vaccine</a>
                      <a class="dropdown-item form_button" data-value="training"  href="#">Training</a>
                    </div>
                  </div>
            </div>
    </div>
</section>
<main>
    <div class="py-5 bg-light">
        <div class="container d-flex  flex-wrap">

            {% for event in events %}
            <div class="col-md-8 w-80 mx-auto">
                <div class="card bg-{{event.type}} h-80 m-4 box-shadow">
                    <div class="card-body">
                        {% if event.type == 'entry' %}
                        <div class="card-header">Normal entry</div>
                        <h5 class="card-title"> {{ event.created_on }}</h5>
                        <p class="card-text  text-wrap">{{ event.text }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div> -->
                            <small class="text-muted">{{ event.pet.name }}</small>
                        </div>
                        {% elif event.type == 'vaccine' %}
                        <div class="card-header">Vaccine</div>
                        <h5 class="card-title">{{ event.created_on }}</h5>
                        <p class="card-text">{{ event.vaccine_type }}</p>
                        <p class="card-text">Dose date: {{ event.given_on }}</p>
                        <p class="card-text">Next Dose: {{ event.next_dose }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div> -->
                            <small class="text-muted">{{ event.pet.name }}</small>
                        </div>
                        {% elif event.type == 'training' %}
                        <div class="card-header">Training</div>
                        <h5 class="card-title"> {{ event.created_on }}</h5>
                        <p class="card-text text-wrap">{{ event.text }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div> -->
                            <small class="text-muted">{{ event.pet.name }}</small>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true"></div>
    {% block create_modal %} {% endblock %}
    </div>
    <script>
        $(document).ready(function() {
            $('.form_button').on('click', get_form);
        });

        function get_form() {
            var form_type = $(this).data("value");
            console.log(form_type);
            var modal_url;
            switch (form_type) {
                case 'vaccine':
                    modal_url = "{% url 'create_vaccine' %}";
                    break
                case 'entry':
                    modal_url = "{% url 'create_entry' %}";
                    break
                case 'training':
                    modal_url = "{% url 'create_training' %}";
                    break
            }
            $.ajax({
                url: modal_url,
                type: "GET", //request type,
                data: {},
                async: true,
                success: function (result) {
                    $('#exampleModal').html(result);
                    $('#exampleModal').modal()
                }
            });

        };
    </script>
</main>
{% endblock content %}