{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"></h1>
        <p>
            <a href="{% url 'list_pets' %}" class="btn btn-primary my-2">Pets</a>
            <a href="{% url 'create_entry' %}" class="btn btn-secondary my-2">Add entry</a>
        </p>
    </div>
</section>
<main>
    <div class="album py-5 bg-light">
        <div class="container d-flex  flex-wrap">
            {% for event in events %}
                <div class="col-md-4 w-80 mx-auto">
                    <div class="card bg-{{event.type}} h-80 m-4 box-shadow">
                        <div class="card-body">
                            {% if event.type == 'entry' %}  
                            <div class="card-header">Normal entry</div>                          
                            <h5 class="card-title"> {{ event.created_on }}</h5>
                            <p class="card-text  text-wrap">{{ event.text }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">{{ event.pet.name }}</small>
                            </div>
                            {% elif event.type == 'vaccine' %}
                            <div class="card-header">Vaccine</div>                          
                            <h5 class="card-title">{{ event.created_on }}</h5>
                            <p class="card-text">{{ event.vaccine_type }}</p>
                            <p class="card-text">Dose date: {{ event.given_on }}</p>
                            <p class="card-text">Next Dose: {{ event.next_dose }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">{{ event.pet.name }}</small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}