{% extends 'base.html' %}
{% block content %}
<main>
  <div class="py-5 bg-light">
        <div class="container d-flex justify-content-center flex-wrap">
          <div class="text-center">
            <div class="form-group">
              <h2>Log In</h2>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Log In</a>
              </form>
            </div>
            <div class="my-2">

              <a href="{% url 'signup' %}"class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  {% endblock content %}